@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.margin {
  margin-right: 30px;
  margin-left: 30px;
}

/* ==========header==========menu========================= */
.upper {
  padding-top: 24px;
  margin-bottom: 90px;
}

.menu {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.logo {
  margin: 0;
  font-family: "Roboto";
  font-size: 30px;
}

.logo::first-letter {
  color: rgb(26, 188, 156);
}

.menu-item {
  list-style-type: none;
  float: left;
  min-height: 37px;
  line-height: 37px;
}

.menu-item:nth-child(1) {
  margin-right: 542px;
}

.menu-item:nth-child(2) {
  color: rgb(26, 188, 156);
  margin-right: 34px;
}

.menu-item:nth-child(3) {
  margin-right: 38px;
}

.menu-item:nth-child(4) {
  margin-right: 30px;
}

.menu-item:nth-child(5) {
  margin-right: 28px;
}

.menu-item:nth-child(6) {
  margin-right: 34px;
}

.menu-item:nth-child(n + 2) {
  font-size: 14px;
  font-family: "OpenSans";
  font-weight: bold;
}

.title {
  font-family: "Roboto";
  font-size: 48px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 90px;
}

.title::after {
  content: "";
  background-color: rgb(26, 188, 156);
  width: 164px;
  min-height: 7px;
  display: block;
  margin: 16px auto;
}

/* ====================main========================= */
.card-container {
  margin-bottom: 88px;
  vertical-align: top;
}

.card-container .card:nth-of-type(n + 1) {
  margin-right: 30px;
}

.card-container .card:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.card-container .card:nth-of-type(4n + 1) {
  margin-left: 30px;
}

.card {
  vertical-align: top;
  width: 255px;
  height: 322px;
  background-color: rgb(233, 240, 253);
  float: left;
}

.card-link {
  text-decoration: none;
  vertical-align: top;
}

.card-image img {
  width: 255px;
  height: 282px;
}

.card-text {
  background-color: rgb(50, 50, 50);
  height: 40px;
  font-size: 18px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.card-title {
  float: left;
  padding-left: 14px;
  width: 201px;
  min-height: 40px;
  line-height: 40px;
}

.card-price {
  padding-left: 14px;
  float: right;
  background-color: rgb(115, 119, 119);
  width: 54px;
  min-height: 40px;
  line-height: 40px;
}

.card:hover .card-title {
  background-color: purple;
}

.card:hover .card-price {
  background-color: orange;
}

/* ====================footer========================= */
.news {
  margin: 0;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 48px;
  text-align: center;
  margin-bottom: 80px;
}

.news::after {
  content: "";
  background-color: rgb(78, 198, 171);
  width: 164px;
  min-height: 7px;
  display: block;
  margin: 18px auto;
}

.latest-news {
  margin: 0 30px;
  vertical-align: top;
}

.latest-news-item {
  width: 350px;
  float: left;
}

.news-image {
  margin-bottom: 6px;
}

.news-image img {
  width: 350px;
}

.header-news {
  margin-top: 0;
  font-family: "OpenSans";
  font-size: 18px;
  color: rgb(85, 82, 82);
  text-align: left;
  margin-bottom: 20px;
}

.header-news::after {
  content: "";
  background-color: rgb(78, 198, 171);
  width: 136px;
  min-height: 3px;
  display: block;
  float: left;
}

.header-news-item {
  font-family: "OpenSans";
  font-size: 14px;
  color: rgb(85, 82, 82);
  text-align: left;
  margin-bottom: 8px;
  margin-top: 0;
}

.load-more {
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  width: 159px;
  min-height: 51px;
  font-family: "OpenSans";
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.latest-news .latest-news-item:nth-of-type(n + 1) {
  margin-right: 30px;
}

.latest-news .latest-news-item:last-of-type {
  margin-right: 0;
}

.latest-news .latest-news-item:nth-of-type(2) {
  min-height: 457px;
}
